@import './variables.scss';
@import './Button.scss';
@import './Header.scss';
@import './Intro.scss';
@import './Users.scss';
@import './Card.scss';
@import './Form.scss';
@import './Tooltip.scss';
@import './Loader.scss';

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Nunito';

  font-display: swap;
  src: url('../../public/assets/Nunito-Regular.woff2') format('woff2'),
    url('../../public/assets/Nunito-Regular.woff') format('woff');
}

body {
  margin: 0;

  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;

  text-align: center;
}
