.header {
  padding: 13px 16px;

  background-color: white;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 104px;
  height: 26px;

  margin-right: 14px;

  img {
    width: 100%;
    height: 100%;
  }
}

.header-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;

  width: 210px;

  padding: 0;
  margin: 0;

  list-style: none;
}

@media (min-width: 768px) {
  .header {
    padding: 13px 32px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 13px 60px;
  }

  .header-wrapper {
    max-width: 1170px;
    margin: auto;
  }
}
